.dropdown-toggle-split::after {
  color: #ffffff;
}

.dropdown-toggle-split:hover::after {
  color: #007bff;
}

@keyframes fadeInFromTopRight {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform-origin: top right;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: top right;
  }
}

.dropdown-menu {
  opacity: 0;
  transform: scale(0.5);
  transform-origin: top right;
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: none;
}

.dropdown-menu.show {
  animation: fadeInFromTopRight 0.3s forwards;
}

.btn {
  color: white;
}
