.input-field-wrapper {
  margin-bottom: 15px;
  max-width: 100%;
}

.input-field-container {
  position: relative;
}

.form-control {
  padding-top: 25px;
  padding-bottom: 15px;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.2s ease all;
  color: #999;
  font-size: 1rem;
}

.input-label.shrunk {
  top: 10px;
  left: 12px;
  font-size: 0.875em;
  color: #495057;
  transform: translateY(0);
}

.form-control:focus + .input-label,
.form-control:not(:placeholder-shown) + .input-label {
  top: 10px;
  left: 12px;
  font-size: 0.875em;
  color: #495057;
  transform: translateY(0);
}
